{% extends "AppCoder/index.html" %}


{% block contenido %}

<form action="" method="post">

    {% csrf_token %}
    <br />
    <br />
    <h1 class="text-black fs-3 fw-bolder">Agregar nuevo estadio</h1>
    <br />
    <br />

    <p>
        Nombre <input type="text" name="nombre" >
    </p>
    <p>
        Capacidad <input type="text" name="Capacidad" >
    </p>
    <br />
    <br />
    <input type="submit" value="Agregar estadio">

</form>
<br />
<br />
<A HREF="{% url 'Entrega1-Estadios' %}"> Volver a Estadios </A>
{% endblock %}